@import url("https://fonts.googleapis.com/css?family=Roboto");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

body,
html {
  margin: 0;
  font-family: "Roboto";
}

body {
  background-color: aliceblue !important;
  // background: url("/src/assets/images/background.jpg") cover!imporant;
  // height: 100vh;
}
